{% load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Upload CSV Files</title>
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'django_multiple_chunk_upload/js/chunk_upload.js' %}"

</head>
<body>
    <h1 class="text-center mb-4 text-primary">Upload CSV Files</h1>

    <div class="container mt-5 card shadow-sm">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="file">Escolha um arquivo CSV:</label>
                <input type="file" id="file" name="file" accept=".csv" required>
                
                <label for="table_name">Nome da tabela:</label>
                <input type="text" id="table_name" name="table_name" required>
                
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
