{% load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Upload CSV Files</title>
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'django_multiple_chunk_upload/js/chunk_upload.js' %}"

</head>
<body>
    <h1 class="text-center mb-4 text-primary">Upload CSV Files</h1>

    <div class="container mt-5 card shadow-sm">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                <label for="movies">Movies CSV:</label>
                <input type="file" name="movies" class="form-control" id="file" required><br>
                
                <label for="genome_scores">Genome Scores CSV:</label>
                <input type="file" name="genome_scores" class="form-control" id="file" required><br>
                
                <label for="genome_tags">Genome Tags CSV:</label>
                <input type="file" name="genome_tags" class="form-control" id="file" required><br>
                
                <label for="links">Links CSV:</label>
                <input type="file" name="links" class="form-control" id="file" required><br>
                
                <label for="ratings">Ratings CSV:</label>
                <input type="file" name="ratings" class="form-control" id="file" required><br>
                
                <label for="tags">Tags CSV:</label>
                <input type="file" name="tags" class="form-control" id="file" required><br>
                
                <button type="submit" class="btn btn-success" id="upload-button">Upload</button>

                <div class="progress"
                    role="progressbar"
                    arial-label="Example with label"
                    arial-valuenow="25"
                    arial-valuemin="0"
                    arial-valuemax="100" >
                    <div id="progress-bar" class="progress-bar" style="with: 0%">0</div>
                </div>
        
            </form>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
